html, body {
  background-color: #212121;
  /* background-color: #8F8F8F; */
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  color: #fff;
  /* color: #0E0E0E; */
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  display: inline-block;
  color: #fff;
  /* color: #0E0E0E; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  display: inline-block;
  color: #fff;
  /* color: #0E0E0E; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

h4 {
  display: inline-block;
  color: #fff;
  /* color: #0E0E0E; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.Alert {
  color: #FFA500;
}

.project-title {
  /* margin-left: 100px; */
  text-align: left;

}

.square {

  height: 700px;
  width: 543px;
  box-sizing: border-box;
  /* position: fixed;
  left: 50%;
  margin-left: -271.5px; /* 为自身宽度的负一半 */
  top: 450px;
  transform: translateY(-50%);
  background: #ffffff;
  z-index: -2;

}

.canvas {
  /* box-sizing: border-box; */
  /* position: fixed;
  left: 50%;
  margin-left: -269.5px; /* 为自身宽度的负一半 */
  /* top: 450px; */
  margin-top: 4%;
  margin-bottom: 0;
  padding-bottom: 0;
  /* transform: translateY(-50%); */
  background: #ffffff;
  z-index: 0;
}

.textInput {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #808080;
  background-color: #212121;
  color: white;
}

.textInput:focus {
  outline: none;
  border-bottom: 2px solid #F5F5F5;
}

.textInput:hover {
  outline: none;
  border-bottom: 2px solid #F5F5F5;
}

.textArea {
  width: 200px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #808080;
  border-radius: 4px;
  background-color: #212121;
  color: white;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 2px solid #F5F5F5;
}

textarea:hover {
  outline: none;
  border: 2px solid #F5F5F5;
}

.slider {
  padding: 0;
  -webkit-appearance: none;
  width: 120px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-short {
  padding: 0;
  -webkit-appearance: none;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.select {
  /* width: 100%; */
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.colorPicker {

}

.row {
  /* margin-top: 12rem; */
  text-align: center;
  /* padding: 0 10% 0 10%; */
}

.column-1{
  margin: 4px;
}

.column-2{
  margin: 4px;
}

.c3-body{
  margin: 8px;
}

.text-panel {
  padding-left: 10%;
  text-align: left;
  padding-top: 5%;
}

.imageArea {
  /* margin-left: 70%; */
  /* margin-top: 1px; */
  text-align: left;
  display:inline;
  /* width: 150px; */
  float: left;
}

.gifArea {
  /* margin-right: 60%; */
  /* margin-top: 3%; */
  text-align: right;
  display:inline;
  /* width: 150px; */
  float: right;
  /* display: inline-block; */
}

.column-3 {
  float: left;
  text-align: left;
  padding-left: 20%;
  padding-top: 10%;
  margin-left: 10%;

}

.shape001, .shape002 {
  color: white;
  margin: 8pt;
}

.c3-body {
  margin-top: 20px;
}

/* .option {
  color: white;
  background-color: white;
} */

.shape001_randomButton {
  color: black;
}

.typographic_button {

}
